.fav-photos-modal {
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.5);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -40%);
  height: 80%;
  width: 55%;
  overflow-y: scroll;
  border-radius: 12px;
}

.fav-photos-modal__close-button {
  background-color: white;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 16px;
  margin-top: 16px;
}

.fav-photos-modal__images {
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 8px;
}

.fav-photos-modal__top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;
  margin-top: 8px;
  align-items: center;
}

.fav-photos-modal__header {
  font-size: 24px;
  font-weight: 500;
  color: #1e1e1e;
  margin: 24px auto;
  text-align: center;
}

.fav-photos-modal__message {
  margin-top: 225px;
  text-align: center;
}